@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --AQUA--: rgb(7, 252, 252);
  --BLACK--: hsl(0, 0%, 3%);
  --GRAY--: #333333;
  --WHITE--: #ffffff;

  --body-font: "Space Grotesk", sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: 1.5em;
  --smaller-font-size: 0.75rem;
  --my-font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.nav {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: var(--BLACK--);
}

.nav .toone {
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nava {
  background-color: var(--BLACK--);
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.nava .navchange {
  width: 95%;
  height: 85px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--WHITE--);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid var(--GRAY--);
  border-bottom: transparent;
  gap: 44px;

  z-index: 90;

  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.05);
}
.navchange .logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: center;
}
.logo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--body-font);
  padding: 11px 35px;
  color: var(--WHITE--);
  font-size: var(--biggest-font-size);
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
}
@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 200px;
  }

  100% {
    background-position: 200px;
  }
}

.navchange .links {
  width: 50%;
  height: 50%;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
}
.links a {
  font-size: var(--normal-font-size);
  font-weight: bold;
  font-family: var(--body-font);
  color: var(--WHITE--);
  border-bottom: 2px solid transparent;
  transition: 2s ease;
}

.links a:hover,
.links .active {
  border-bottom: 2px solid var(--AQUA--);
}

.navchange .inputs {
  width: 30%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputs .tact {
  width: 170px;
  height: 40px;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  color: var(--WHITE--);
  background: transparent;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: 1px solid var(--AQUA--);
  transition: 1s ease;
}
.inputs .tact:hover {
  background-color: var(--GRAY--);
  border-top-right-radius: 2em;
  border-bottom-left-radius: 0em;
  border-top-left-radius: 2em;
}

.inputs .inputcheck {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.inputcheck label {
  width: 50px;
  height: 25px;
  position: relative;
  display: block;
  background: aqua;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 2s ease-in-out;
}

.inputcheck label::after {
  content: "";
  width: 20px;
  height: 19px;
  position: absolute;
  top: 3px;
  left: 2px;
  background: linear-gradient(180deg, #666666, #000000);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.5s ease-in-out;
}

.inputcheck input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.inputcheck input:checked + label {
  background-color: var(--AQUA--);
}
.inputcheck input:checked + label::after {
  left: 47px;
  transform: translateX(-100%);
  background: linear-gradient(100deg, #777, #3a3a3a);
}

.inputcheck label:active::after {
  width: 30px;
}

.inputs .translateing1 {
  width: 8%;
  height: 75%;
  text-align: center;
  padding: 3px;
  background-color: transparent;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 0em;
  font-family: var(--body-font);
  transition: 1s ease;
  border: 1px solid var(--AQUA--);
}
.inputs .translateing1:hover {
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}
.translateing1 .translateing {
  font-size: 1em;
  font-weight: 500;
  color: var(--AQUA--);
}

.inputs .sub-menu-warp {
  position: absolute;
  top: 90%;
  right: 10%;
  max-height: 0px;
  overflow: hidden;
  width: 320px;
  transition: max-height 0.5s;
  background-color: var(--AQUA--);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sub-menu-warp.open-menu {
  max-height: 400px;
}
.sub-menu {
  background: var(--GRAY--);
  border: 1px solid var(--AQUA--);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 380px;
}

.inputs .guage {
  width: 90px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 3px;
}
.guage select {
  width: 80%;
  color: var(--AQUA--);
  height: 95%;
  border: 1px solid var(--AQUA--);
  background-color: transparent;
  outline: none;

  padding: 3px;
  background-color: transparent;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  font-family: var(--body-font);
  transition: 1s ease;
  border: 1px solid var(--AQUA--);
}
select option {
  background: var(--BLACK--);
  color: var(--AQUA--);
  border: 1px solid var(--AQUA--);
  outline: none;
  border-radius: 1em;
}

.inputs .smallscr {
  width: 90px;
  height: 40px;
  color: var(--WHITE--);
  background: transparent;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: 2px solid var(--GRAY--);
  display: none;
}

.inputs .smallscr:hover {
  background-color: var(--GRAY--);
}

.navchange .sidebar {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 20%;
  z-index: 10;
  right: 0%;
  background-color: var(--BLACK--);
  align-items: center;
  justify-content: center;
  display: none;
}
.sidebar .inside {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: center;
  color: var(--WHITE--);
  backdrop-filter: blur(10px);
  background-color: #00000065;
  display: none;
}
.inside .xx {
  width: 80%;
  height: auto;
  text-align: right;
  justify-content: last baseline;
  align-items: center;
  padding: 1em 0;
}
.inside .insbtn {
  width: 170px;
  height: 40px;
  color: var(--WHITE--);
  background: transparent;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: 2px solid var(--GRAY--);
}
.inside .insbtn:hover {
  background-color: var(--GRAY--);
}

.inside .linkss {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--body-font);
  gap: 1em;
  width: 63%;
  height: 50%;
  align-items: center;
  border-radius: 10px;
}

.linkss a {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--WHITE--);
  transition: 2s ease-in-out;
}
.linkss a:hover,
.linkss .active {
  border-bottom: 2px solid var(--AQUA--);
  color: var(--WHITE--);
}

.dott {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  left: 2%;
  top: 2%;
  background-color: var(--AQUA--);
  position: absolute;
}
.dot00 {
  background-color: var(--WHITE--);
  position: absolute;
  width: 50px;
  height: 50px;
  right: 30%;
  border-radius: 50%;
}
.dot11 {
  background-color: var(--AQUA--);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 80%;
  right: 2%;
  border-radius: 50%;
}
.toone .header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}
.header .hi {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.hi .appir {
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  gap: 0.5em;
}
.appir svg {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.appir .h1apr {
  font-size: 1.5em;
  font-family: var(--body-font);
  color: var(--WHITE--);
}
.h1apr span {
  font-size: 2.3em;
  color: var(--AQUA--);
  font-family: var(--body-font);
}
/* .h1apr span .spa {
  font-size: 1.1em;
  transition: 3s ease;
}
.h1apr span .spa:hover {
  color: var(--WHITE--);
  padding-bottom: 5px;
  text-shadow: 0 0 15px var(--AQUA--), 0 0 15px var(--GRAY--);
} */

.appir p {
  font-size: 1em;
  font-family: var(--body-font);
  color: var(--WHITE--);
  position: relative;
}

svg text {
  stroke: var(--AQUA--);
  font-size: 160px;
  font-weight: 700;
  font-family: var(--body-font);
  stroke-width: 2;
  text-align: center;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

.hi .btn-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 80%;
  height: 20%;
}

.hi .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--WHITE--);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
  text-decoration: none;
}

.btn-box .smallsc {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50%;
  background-color: var(--WHITE--);
  border: 2px solid var(--AQUA--);
  font-size: 1em;
  font-family: var(--body-font);
  color: var(--BLACK--);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  transition: 2.5s;
}
.btn-box .smallsc:hover {
  color: var(--AQUA--);
  border: none;
  border: 2px solid var(--AQUA--);
  border-top-right-radius: 2em;
  border-bottom-left-radius: 0em;
  border-top-left-radius: 2em;
}

.btn-box .radial-menu {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  left: 35%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
  pointer-events: none;
  z-index: 100;
  width: 25%;
}

.radial-menu.show {
  transform: translateX(-50%) scale(1);
  pointer-events: all;
}

.radial-menu a {
  font-size: 1.5em;
  color: var(--AQUA--);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

/* Closer radial positions */
/* .radial-menu.show a:nth-child(1) {
  transform: translate(80px, -40px);
}
.radial-menu.show a:nth-child(2) {
  transform: translate(50px, -20px);
}
.radial-menu.show a:nth-child(3) {
  transform: translate(20px, -40px);
} */

.btn-box .smallsc:nth-child(2) {
  background: transparent;
  color: var(--AQUA--);
  border-top-left-radius: 0em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.btn-box .smallsc:nth-child(2):hover {
  background: var(--AQUA--);
  color: var(--WHITE--);
  border: none;

  border-top-left-radius: 2em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.btn-box .smallsc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--GRAY--);
  z-index: -1;
  transition: 0.5s;
}
.btn-box .smallsc:hover::before {
  width: 100%;
}

.header .satisfactory {
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.satisfactory .tory0 {
  width: 20%;
  height: 70%;
  display: flex;
  padding: 2.5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  position: relative;
  overflow: hidden;
}
.tory0::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 240px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    var(--AQUA--),
    var(--WHITE--),
    var(--AQUA--),
    var(--AQUA--),
    var(--AQUA--)
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.tory0::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 240px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    var(--AQUA--),
    var(--WHITE--),
    var(--AQUA--),
    var(--AQUA--),
    var(--AQUA--)
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
.tory0 .borderline {
  position: absolute;
  top: 0;
  inset: 0;
}
.borderline::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 240px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    var(--WHITE--),
    var(--BLACK--),
    var(--WHITE--),
    var(--WHITE--),
    var(--WHITE--)
  );

  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -6s;
}
.borderline::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 240px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    var(--WHITE--),
    var(--BLACK--),
    var(--WHITE--),
    var(--WHITE--),
    var(--WHITE--)
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -9s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tory0 .tor1 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  z-index: 2;

  background: var(--BLACK--);
}

.tor1 h1 {
  font-size: 2em;
  display: inline-flex;
  font-family: var(--body-font);
  color: var(--AQUA--);
}
.tor1 p {
  font-size: 0.6em;
  color: var(--AQUA--);
  font-family: var(--body-font);
  font-weight: bold;
}

.header .imageside {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageside .imgcontainer {
  width: 80%;
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/image/IMG_20240702_220919_784-removebg-preview.png);
  mix-blend-mode: darken;
  background-position: center;
  border-top-right-radius: 2em;
  border: none;

  border-top: 0.2em solid var(--AQUA--);
  border-right: 0.2em solid var(--AQUA--);
}

.imgcontainer .social {
  width: 25%;

  height: 100%;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.social a .icons {
  height: 40px;
  width: 40px;

  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border: 1px solid var(--GRAY--);
  padding: 0.3em;
  color: var(--AQUA--);
  z-index: 1;
  overflow: hidden;
  transition: 2.5s;
}

.social a .icons:hover {
  color: var(--GRAY--);
  background-color: var(--BLACK--);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 0em;
  border: 1px solid var(--AQUA--);
}

.social a .icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}

.twiter {
  color: var(--BLACK--);
}
.bear {
  color: var(--BLACK--);
}

/*Nav dots*/
.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  left: 2%;
  top: 2%;
  background-color: var(--AQUA--);
  position: absolute;
}
.dot0 {
  background-color: var(--WHITE--);
  position: absolute;
  width: 50px;
  height: 50px;
  top: 27%;
  right: 60;
  border-radius: 50%;
}
.dot1 {
  background-color: var(--AQUA--);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  right: 2%;
  border-radius: 50%;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}
@media (max-width: 340px) {
  .nava {
    justify-content: center;
  }
  .nava .navchange {
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    position: fixed;
  }

  .logo h1 {
    font-size: var(--biggest-font-size);
    font-family: var(--body-font);
  }
  .navchange .links {
    display: none;
  }
  .navchange .sidebar {
    top: 15%;
  }
  .navchange .inputs {
    width: 60%;
    gap: 0;
    justify-content: center;
  }
  .inputs .tact {
    display: none;
  }
  .inputs .smallscr {
    display: flex;
    width: 15%;
    height: 60%;
    padding: 4px;
    border: none;

    align-items: center;
    text-align: center;

    font-size: var(--my-font-size);
  }
  .navchange .sidebar {
    display: flex;
    width: 200px;
    top: 10%;
    right: 0%;
    display: none;
  }

  .inputcheck label {
    width: 40px;
    height: 20px;
  }
  .inputcheck label::after {
    width: 18px;
    height: 18px;
    top: 1px;
  }
  .inputcheck input:checked + label::after {
    left: 38px;
    transform: translateX(-100%);
    background: linear-gradient(100deg, #777, #3a3a3a);
  }
  .inputs .guage {
    height: 60%;
    width: 40%;
  }
  .guage select {
    border: none;
  }

  .nav {
    height: 900px;
    justify-content: center;
  }
  .nav .toone {
    height: 95%;
  }

  .toone .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 95%;
  }
  .header .hi {
    width: 100%;
    height: 60%;
    padding: 0 0 0 0;
    justify-content: space-around;
    gap: 0;
  }
  .hi .appir {
    height: 40%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;

    text-align: center;
  }
  .appir .h1apr {
    font-size: 1em;
  }
  .h1apr span {
    font-size: 1.8em;
  }
  svg text {
    font-size: 180px;
  }

  .appir .text.snd-text {
    font-size: 1.6em;
  }
  .appir .first-text span {
    color: var(--AQUA--);
    font-size: 1.8em;
  }

  .hi .btn-box {
    width: 90%;
    height: 25%;
    justify-self: unset;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .btn-box .smallsc {
    border-top-left-radius: 0em;
    border-top-right-radius: 2em;
    width: 40%;
    height: 40px;
    font-size: 0.8em;
  }

  .btn-box .chat-me {
    width: 50%;
    height: auto;
    border: none;
    top: 95px;
    left: -230px;
    background-color: transparent;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  .wath .wht {
    font-size: 1.6em;
  }

  .btn-box .radial-menu {
    flex-direction: unset;
    bottom: 0px;
    height: 20%;
    left: 25%;

    width: 40%;
  }

  .radial-menu a {
    font-size: 1.3em;
  }

  .header .satisfactory {
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 25%;
    text-align: center;
  }

  .satisfactory .tory0 {
    height: 70%;
    width: 25%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    gap: 0.2em;
    justify-content: unset;
  }

  .tor1 h1 {
    font-size: 1.3em;
  }
  .tor1 p {
    max-width: 4em;
    color: var(--AQUA--);
  }

  .header .imageside {
    width: 100%;
    height: 40%;
  }
  .imageside .imgcontainer {
    width: 95%;
    height: 80%;
    background-size: cover;
    justify-content: right;

    border-top-right-radius: 0em;
    border-top-left-radius: 0em;

    border: none;
    overflow: hidden;

    border-right: 0.2em dashed var(--AQUA--);
    border-left: 0.2em dashed var(--AQUA--);
  }
  .imgcontainer .social {
    position: relative;
    width: 35%;
    height: 100%;
    gap: 0.2em;
    z-index: -10;
  }
  .social a .icons {
    height: 25px;
    width: 25px;
    padding: 0.1em;
    border-top-left-radius: 0.1em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border: none;
  }
  .social a .icons:hover {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0em;
  }

  .dot {
    top: 5%;
  }
  .dot0 {
    top: 99%;
  }
  .dot1 {
    top: 500%;
  }
}

@media (min-width: 341px) and (max-width: 500px) {
  .nav {
    height: 900px;
  }
  .nav .toone {
    height: 95%;
  }

  .nava .navchange {
    justify-content: space-between;
    height: 10%;
    padding: 0 1em;
    gap: 5px;
  }
  .logo h1 {
    font-size: var(--biggest-font-size);
    font-family: var(--body-font);
  }
  .navchange .links {
    display: none;
  }
  .navchange .sidebar {
    top: 15%;
  }
  .navchange .inputs {
    width: 60%;
    gap: 0;
    justify-content: center;
  }

  .inputs .tact {
    display: none;
  }
  .inputs .smallscr {
    display: flex;
    width: auto;
    height: auto;
    padding: 4px;
    border: none;
    align-items: center;
    text-align: center;

    font-size: var(--my-font-size);
  }
  .navchange .sidebar {
    display: flex;
    width: 200px;
    top: 10%;
    right: 0%;
    display: none;
  }

  .inputcheck label {
    width: 40px;
    height: 20px;
  }
  .inputcheck label::after {
    width: 18px;
    height: 18px;
    top: 1px;
  }
  .inputcheck input:checked + label::after {
    left: 38px;
    transform: translateX(-100%);
    background: linear-gradient(100deg, #777, #3a3a3a);
  }
  .inputs .guage {
    height: 60%;
    width: 45%;
  }
  .guage select {
    border: none;
  }

  .toone .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  .header .hi {
    width: 100%;
    height: 60%;
    justify-content: space-around;
    padding: 0 0 0 0;
    gap: 0;
  }
  .hi .appir {
    height: 35%;
    align-items: center;
    width: 100%;

    justify-content: center;
    text-align: center;
    font-size: 0.9em;
    border: transparent;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;

    text-align: center;
  }
  .appir .h1apr {
    font-size: 1.2em;
  }
  .h1apr span {
    font-size: 1.9em;
  }
  svg text {
    font-size: 190px;
  }

  .appir .text.snd-text {
    font-size: 1.4em;
  }
  .appir .first-text span {
    color: var(--AQUA--);
    font-size: 1.6em;
  }
  .hi .btn-box {
    width: 90%;
    height: 25%;
    padding: 0 0 0 0;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  .btn-box .smallsc {
    width: 40%;
    height: 40%;
    font-size: 0.8em;
  }
  .btn-box .smallsc {
    border-top-left-radius: 0em;
    border-top-right-radius: 2em;
  }

  .btn-box .chat-me {
    width: 50%;
    height: auto;
    border: none;
    top: 115px;
    left: -230px;
    background-color: transparent;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  .wath .wht {
    font-size: 1.6em;
  }

  .btn-box .radial-menu {
    flex-direction: unset;
    bottom: 0px;
    height: 20%;
    left: 25%;

    width: 40%;
  }

  .radial-menu a {
    font-size: 1.3em;
  }

  .header .satisfactory {
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 90%;
    height: 25%;
    text-align: center;
  }

  .satisfactory .tory0 {
    height: 80%;
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    gap: 0.2em;
  }

  .tor1 h1 {
    font-size: 1.3em;
  }
  .tor1 p {
    max-width: 4em;
    color: var(--AQUA--);
  }

  .header .imageside {
    width: 100%;
    height: 40%;
  }
  .imageside .imgcontainer {
    width: 95%;
    height: 80%;
    background-size: contain;
    justify-content: right;
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;

    border: none;
    overflow: hidden;

    border-right: 0.2em dashed var(--AQUA--);
    border-left: 0.2em dashed var(--AQUA--);
  }
  .imgcontainer .social {
    position: relative;
    width: 30%;
    height: 100%;
    gap: 0.2em;
    z-index: -10;
  }
  .social a .icons {
    height: 25px;
    width: 25px;
    padding: 0.1em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
    border: none;
  }

  .social a .icons:hover {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0em;
  }

  .dot {
    top: 12%;
  }
  .dot0 {
    top: 99%;
  }
  .dot1 {
    top: 56%;
  }
}

@media (min-width: 501px) and (max-width: 999px) {
  .nava .navchange {
    justify-content: space-between;
    padding: 0 0 0 0;
  }
  .logo h1 {
    font-size: var(--biggest-font-size);
    font-family: var(--body-font);
  }
  .navchange .links {
    display: none;
  }
  .navchange .sidebar {
    top: 15%;
  }

  .inputs button {
    display: none;
  }
  .inputs .smallscr {
    display: flex;
    border: none;
    align-items: center;
    text-align: center;
    font-size: var(--my-font-size);
  }
  .navchange .sidebar {
    display: flex;
    width: 200px;
    top: 15%;
    right: 0%;
    display: none;
  }

  .nav {
    height: 900px;
  }
  .nav .toone {
    height: 95%;

    position: relative;
  }

  .toone .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    padding: 0 0em;
    height: 95%;
  }
  .header .hi {
    width: 100%;
    height: 60%;
    padding: 0 0 0 0;
    gap: 0.2em;
  }

  .hi .appir {
    height: 35%;
    width: 100%;
    font-size: 1.1em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    text-align: center;

    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
  }
  .appir .h1apr {
    font-size: 1.2em;
  }
  .h1apr span {
    font-size: 1.9em;
  }
  svg text {
    font-size: 140px;
  }
  .appir .text.snd-text {
    font-size: 1.5em;
  }
  .appir .first-text span {
    color: var(--AQUA--);
    font-size: 1.3em;
  }
  .appir .text {
    font-size: 0px;
  }
  .hi .btn-box {
    height: 25%;
    width: 80%;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 0 0 0 0;
    margin-top: 0em;
  }

  .btn-box .chat-me {
    width: 200px;
    height: 55px;
    border: none;
    background-color: transparent;
    top: 150px;
    left: -500px;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  .wath .wht {
    font-size: 1.6em;
  }

  .btn-box .radial-menu {
    bottom: 0px;
    height: auto;

    gap: 1em;
    width: 20%;
  }

  .radial-menu a {
    font-size: 1.6em;
  }

  .btn-box .smallsc {
    height: 50px;
    width: 180px;
  }

  .header .satisfactory {
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 25%;
    text-align: center;
  }

  .satisfactory .tory0 {
    height: 70%;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 0.2em;
    border: 1px solid var(--QUA--);
  }
  .tor1 h1 {
    font-size: 1.3em;
  }
  .tor1 p {
    max-width: 4em;
    color: var(--AQUA--);
  }

  .header .imageside {
    width: 100%;
    height: 40%;
  }
  .imageside .imgcontainer {
    width: 70%;
    height: 90%;
    background-size: contain;
    justify-content: right;
    border: none;
    border-radius: 5%;
    border: 3px solid var(--AQUA--);
    padding: 1em;
  }
  .imgcontainer .social {
    position: unset;
    width: 15%;
    height: 100%;
    gap: 0.2em;
    z-index: -10;
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
  .social a .icons {
    height: 30px;
    width: 100px;
    padding: 0.1em;
    border: none;
  }
}

@media (min-width: 999px) and (max-width: 1517px) {
  .nav {
    height: 900px;
  }

  .nav .toone {
    height: 95%;
  }

  .hi .appir {
    width: 85%;
    height: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--body-font);
    overflow: hidden;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
  }
  .appir .h1apr {
    font-size: 1.3em;
  }
  .h1apr span {
    font-size: 2em;
  }
  svg text {
    font-size: 190px;
  }

  .appir .text {
    position: relative;

    font-size: 50px;
    font-family: var(--body-font);
    font-weight: 600;
  }
  .hi .btn-box {
    height: 25%;
    width: 80%;
  }
  .appir .first-text span {
    color: var(--AQUA--);
    font-size: 1.8em;
  }

  .btn-box .smallsc {
    height: 60px;
  }
  .appir .text.first-text {
    color: var(--GRAY--);
    font-family: var(--body-font);
    font-size: 1.5em;
  }

  .appir .text.snd-text {
    font-size: 1.5em;
    color: var(--AQUA--);
  }
  .btn-box .chat-me {
    top: 150px;
    height: auto;
    background-color: transparent;
    border: none;
    left: -300px;
    border-top-left-radius: 0em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  .header .satisfactory {
    height: 25%;
    gap: 1.5em;
    width: 80%;
  }
  .satisfactory .tory0 {
    border: none;
    width: 20%;
  }
}
